*{
    padding: 0%;
margin: 0%;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;

}
.section-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
    color: white;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-one{
    text-decoration: none;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;

}
.section-three{
    background-color: darkmagenta;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color: #fe7517;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;

}
.section-five{
    background-color: black;
    color: white;
    padding:20px;
    text-decoration: none;
}

